<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio WEBSOCKETS</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
    crossorigin="anonymous"
  />
  <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
</head>
<body>
    <div class="d-flex justify-content-center">
       <h1>Login</h1>
       <div class="jumbotron">
         <form class="form" method="POST" action="http://localhost:3000/login">
            
            <div class="form-group">
            <input type="text" name="user" id="user_input" placeholder="Username:">
            </div>

            <div class="form-group">
            <input type="password" name="pswd" id="pswd_input" placeholder="Password:">
            </div>

            <button class="btn btn-success my-3" type="submit">LOGIN</button>
         </form>
       </div>
    </div>
</body>
</html>